<h2>Vertragserstellungstool</h2>
<br>
<div class="jumbotron">
    <p>Bitte wählen Sie eine passende Rechtsform:</p>
    <br>

        <a href="/gmbhtexts" class="btn btn-primary btn-lg" style="margin-top:5px;">gGmbH</a>
        <a href="/ugtexts" class="btn btn-primary btn-lg" style="margin-top:5px;">gUG (haftungsbeschränkt)</a>
        <a href="/vereintexts" class="btn btn-primary btn-lg" style="margin-top:5px;">Verein (knapp)</a>
        <a href="/vereinlongtexts" class="btn btn-primary btn-lg" style="margin-top:5px;">Verein (ausführlich) </a>

    <br>
</div>


