<div class="jumbotron">
    <div class="container">
        <h1>Willkommen bei easyContract!</h1>
        <p>Hier können Verträge zu Vereinen, gGmbH und gUG (haftungsbeschränkt) erstellt werden. Dazu werden benötigte Vertragsbausteine in das Textfeld gezogen, sodass ein Vertrag entsteht, welcher am Ende in word oder pdf exportiert werden kann.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/contracttool" role="button">Vertragsgenerator &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Projektübersicht</h2>
            <p>Die Projektübersicht bietet einen Überblick über alle Mandate und Projekte. Dazu können alle wichtigen Infos sowie To-Do’s eingetragen werden. </p>
            <p><a class="btn btn-default" href="/projectoverview" role="button">Mehr zeigen &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Kalender</h2>
            <p>Um über alle anstehenden Events und Termine informiert zu sein reicht ein Blick in den Kalender. </p>
            <p><a class="btn btn-default" href="/calendarv" role="button">Mehr zeigen &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Link-Ansammlung </h2>
            <p>Hier ist Platz für alle wichtigen Links zu Clouds, Kontakten und Internet-Seiten. </p>
            <p><a class="btn btn-default" href="/links" role="button">Mehr zeigen &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <h2>Wiki</h2>
            <p>Hier befinden sich diverse Anleitungen zu betrieblichen Arbeitsweisen, bzw. Arbeitsanweisungen und wie man Tools nutzt.</p>
            <p><a class="btn btn-default" href="/wikiv" role="button">Mehr zeigen &raquo;</a></p>
        </div>
    </div>
</div>

