<span class="label label-success">Rechtsform: Verein (ausführlich)</span>
<ul class="pager">
    <li class="previous"><a href="/vereinlongtexts">&larr; Zurück</a></li>
</ul>
<div class="data-form">
    <div class="row">
        <div class="col-md-16 login-form-1">
            <h2>Baustein bearbeiten:</h2>
            <div class="jumbotron">
            <form class="form-signin" action="<%=`/vereinlongtexts/${vereinlongtext._id}/update?_method=PUT`%>" method="POST">

                <div class="form-group">
                    <textarea style="height:300px" type="vereinlongtext" name="vereinlongtext" id="inputVereinlongtext" class="form-control"  placeholder="Text..." autofocus><%= vereinlongtext.vereinlongtext %></textarea>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Änderungen speichern</button>
            </form>
        </div>
    </div>
</div>
</div>